<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width" />
  <link rel="apple-touch-icon" href="http://digitalmofo.com/wp-content/plugins/rss-poster/cache/cdc83_7-app-icon-designs.jpg" />
  <title>Youtube2Dropbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
